<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    <!-- <link rel="canonical" href="{{ .Permalink }}"> -->
    <meta property="og:title" content="locomotiva" />
    <meta property="og:description" content="Creating awesome software solutions for your business." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://locomotiva.info/" />
    <!-- <link rel="canonical" href="https://locomotiva.info/"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2e2e2e">
    <meta name="theme-color" content="#2e2e2e">

    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-19971072-16', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <link href="{{ .Site.BaseURL }}css/main.css" rel="stylesheet" crossorigin="anonymous">
    <script src="{{ .Site.BaseURL }}js/bg.js" crossorigin="anonymous" async></script>
    <script src="{{ .Site.BaseURL }}js/nav.js" crossorigin="anonymous" async></script>

    {{ partial "header.html" . }}
  </head>

  <body class="home">
    {{ partial "navigation.html" . }}

    <section class="index-masthead section">
      <canvas class='connecting-dots'></canvas>
      <div class="container">
        <h1>Creating awesome software solutions for your business.</h1>
        <div class="columns">
          <div class="column">
            <h2>Do papel até o mercado</h2>
            <p>Ajudamos fundadores a levarem suas ideias de rabiscos no caderno até empresas prontas para o mercado e para impactar o mundo de maneira significativa.</p>
          </div>
          <div class="column">
            <h2>Time remoto</h2>
            <p>Nós provemos empresas estabelecidas e novas startups com o time tecnológico e a gerência de projetos relacionados necessária para alcançar objetivos e maximizar esforços de uma maneira inteligente e moderna.</p>
          </div>
          <div class="column">
            <h2>Desenvolvimento de produto</h2>
            <p>Nós amamos criar produtos e soluções baseadas em softwares inovadores e, assim, levarmos sua ideia para o próximo nível. De novos fundadores a profissionais experientes, colaborar com você para atingir resultados incríveis é o que nos movimenta.</p>
          </div>
        </div>
        <div class="mouse">
          <span></span>
        </div>
      </div>
    </section>

    <section class="index-work section">
      <div class="container">
        <h2>Nosso trabalho</h2>
        <p>Nós da Locomotiva somos apaixonados por desenvolver e construir grandes ideias. Nosso time está sempre pronto para utilizar as mais recentes práticas, linguagens e tecnologias disponíveis para seu projeto, provendo uma grande fama de diferentes serviços que se adaptam às necessidades de sua companhia.</p>

        <div class="clients columns">
          <a href="#">
            <img src="/img/ebanx.png" alt="" class="img-fluid">
          </a>
          <a href="#">
            <img src="/img/acegroup.png" alt="" class="img-fluid" style="max-width: 100px;">
          </a>
          <a href="#">
            <img src="/img/candyshop.png" alt="" class="img-fluid">
          </a>
          <a href="#">
            <img src="/img/atualizecar.png" alt="" class="img-fluid">
          </a>
          <a href="#">
            <img src="/img/grupoboticario.png" alt="" class="img-fluid" style="max-width: 120px;">
          </a>
          <a href="#">
            <img src="/img/bandtripper.png" alt="" class="img-fluid" style="max-width: 120px;">
          </a>
          <a href="#">
            <img src="/img/eun.png" alt="" class="img-fluid">
          </a>
          <a href="#">
            <img src="/img/lefooding.png" alt="" class="img-fluid">
          </a>
          <a href="#">
            <img src="/img/luztr.png" alt="" class="img-fluid" style="max-width: 80px;">
          </a>
          <a href="#">
            <img src="https://speckycdn-sdm.netdna-ssl.com/wp-content/uploads/2011/04/hermes.png" alt="" class="img-fluid" style="">
          </a>
        </div>
      </div>
    </section>

    <section class="index-portfolio section">
      <div class="container-fluid">
        <div class="columns">
          <div class="column luztr-app">
            <img src="/img/luztr-app.png" alt="" class="img-fluid">
          </div>
          <div class="column content">
            <h5>CASE</h5>
            <img src="/img/luztr.png" alt="" class="img-fluid" style="max-width: 90px;">
            <h2>LUZTR</h2>
            <p>Após um ano e meio de interações falhas e dispendiosas com outras empresas de desenvolvimento de software, a LUZTR se tornou nossa cliente. Nesse momento, nos tornamos seu time remoto, incluindo serviços de CTO sob demanda.</p>
            <p>Nos envolvemos profundamente com a empresa e sua operações para melhor compreendermos suas demandas e desafios enfrentados.</p>
            <p>Em apenas três meses e recursos melhor empregados, o cliente está agora lançando seu progressive app totalmente funcional e multiplataforma.</p>
            <p>Nós também dividimos nossa mentalidade de startup com os fundadores e funcionários, demonstrando como conseguir melhores resultados com custos e prazos mais efetivos.</p>
            <br>
            <p><strong>Atualmente, somos o CTO e equipe remota sob demanda da LUZTR.</strong></p>
          </div>
        </div>
      </div>
    </section>

    <section class="index-advantages section">
      <div class="container">
        <h5>Vantagens</h5>
        <div class="columns">
          <div class="column">
            <span class="icon-rocket"></span>
            <h3>Background em startups</h3>
            <p>Nosso background em startups nos dá o diferencial de estarmos sempre atualizados e em contato com toda nova tecnologia valiosa.</p>
            <p>Temos o entendimento necessário para entender os usuários e seus hábitos de consumo.</p>
          </div>
          <div class="column">
            <span class="icon-sale"></span>
            <h3>Você focado em suas operações</h3>
            <p>Com a gente, você tem um parceiro de verdade que estará sempre trabalhando para melhorar o software da empresa.</p>
            <p>Sem preocupações com gerenciamento de seus projetos de tecnologia ou supervisão constante, nós entendemos suas necessidades e apresentamos resultados palpáveis.</p>
          </div>
          <div class="column">
            <span class="icon-target"></span>
            <h3>Trabalho remoto</h3>
            <p>Nosso time trabalha com produtividade máxima e no ambiente correto, sem acrescentar custos para sua logística diária.</p>
            <p>Nós aceitamos apenas projetos nos quais nós realmente acreditamos, por isso, você pode ficar tranquilo com a certeza de que tem o time certo do seu lado.</p>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer-main section">
      <div class="container">
        <h2>Vamos falar do seu projeto</h2>

        <p>
          Estamos sempre à procura de ideias, projetos e desafios novos e interessantes de todo o mundo.<br>
          Vamos falar dos projetos que te movem.
        </p>

        <p>Juntos, podemos criar grandes empresas, produtos e<br>serviços que deixam o mundo ainda melhor!</p>

        <a href="mailto:jp@locomotiva.info?subject=Fale+Conosco+Locomotiva" class="btn btn-lg btn-secondary">Fale com a gente</a>
      </div>
    </footer>


  </body>
</html>
