@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?7o51eo');
  src:  url('/fonts/icomoon.eot?7o51eo#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?7o51eo') format('truetype'),
    url('/fonts/icomoon.woff?7o51eo') format('woff'),
    url('/fonts/icomoon.svg?7o51eo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sale:before {
  content: "\e900";
}
.icon-profile:before {
  content: "\e901";
}
.icon-rocket:before {
  content: "\e902";
}
.icon-target:before {
  content: "\e903";
}
