@import 'defaults';
@import 'fonts';
@import 'nav';
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  -webkit-font-smoothing: antialiased;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .column {
    // flex-basis: 100%;
  }
}

.index-masthead {
  position: relative;
  z-index: 9;

  background: linear-gradient(-45deg, #ff00ea, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
  margin-top: -40px;
  transform: skew(0deg, -3deg);

  color: #fff;

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .container {
    padding: 140px 20px 50px 20px;
    transform: skew(0deg, 3deg);

    h1 {
      margin-bottom: 80px;
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      color: white;
    }

    h2 {
      color: white;
      font-family: 'Rubik', sans-serif;
      font-weight: 500;
    }
  }
  @media screen and (min-width: 1024px) {
    .container {
      padding: 140px 10vh 100px;
      h1 {
        font-size: 64px;
      }
      .column {
        flex-basis: 30%;
      }
    }
  }
}

.index-work {
  background: white;
  .container {
    padding: 40px 20px 40px 20px;

    h2 {
      font-weight: 500;
      font-family: 'Rubik', sans-serif;
    }

    .clients {
      justify-content: space-between;
      flex-flow: row wrap;
      align-items: center;

      a {
        flex: 1;
        flex-basis: 30%;
        padding: 10px;
        margin: 20px;
        text-align: center;

        img {
          max-width: 120px;
          width: 100%;
          height: auto;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .container {
      padding: 140px 10vh 100px;
      .clients {
        margin: 50px 200px 0;
        a img {
          max-width: 200px;
        }
      }
    }
  }
}

.index-portfolio {
  .container-fluid {
    .columns {
      justify-content: flex-start;
      flex-wrap: wrap;
      background-color: rgb(0,239,242);
      .luztr-app {
        background-color: rgb(0,239,242);
        text-align: right;
        width: 100%;
        padding-top: 80px;
        align-self: flex-end;
        img {
          max-width: 375px;
        }
      }
      .content {
        background: #f9f9f9;
        padding: 20px;
        h2 {
          font-family: 'Rubik', sans-serif;
          font-weight: 500;
        }
        h5 {
          font-family: 'Rubik', sans-serif;
          font-weight: 500;
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .container-fluid {
      .columns {
        flex-wrap: nowrap;
        .luztr-app {
          width: auto;
          align-items: baseline;
        }
        .content {
          padding: 20px 40px;
        }
        h5 {
          margin-bottom: 40px;
        }
      }
    }
  }
}

.index-advantages {
  background: white;
  color: #333;
  .container {
    text-align: center;

    .column {
      padding: 40px;
      margin: 20px auto;
    }

    [class^="icon-"], [class*=" icon-"] {
      font-size: 48px;
      display: block;
    }

    h5 {
      font-family: 'Rubik', sans-serif;
      text-transform: uppercase;
      padding: 40px 0;
      margin: 0;
    }

    h3 {
      font-family: 'Rubik', sans-serif;
      margin-bottom: 20px;
      font-weight: 500;
    }

    p {
      text-align: left;
    }

    @media screen and (min-width: 1024px) {
      padding: 40px 80px 80px;
      .column {
        flex-basis: 30%;
        margin: 0;
        padding: 0;
      }
      h5 {
        padding: 40px 0 80px;
      }
    }

  }
}

.footer-main {
  padding: 10vh 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  margin: 0;
  h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
  }
  a {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 28px;
  }
}

.mouse {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid white;
  position: absolute;
  bottom: 20px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: white;
  border: 1px solid transparent;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.single-centered {
  .default-container.section {
    padding: 0 20px;
    #main {
      padding: 40px 20px;
      background: white;
      h1 {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
      }
    }
    @media screen and (min-width: 1024px) {
      padding: 40px 80px 80px;
    }
  }
}

@keyframes show-logo {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.logo svg {
  animation: show-logo 2s 1.5s cubic-bezier(0,1.79,.28,.73) forwards;
  opacity: 0;
}
