
.main-nav {
  position: fixed;
  max-height: 70px;
  z-index: 10;
  width: 100%;
  background: none;
  overflow: hidden;
  transition: all 0.3s;
  top: 0px;

  a {
    color: white;
    text-decoration: none;
  }

  .logo {
    font-size: 25px;
    color: white;
    display: inline-block;
    padding: 3px;
    margin: 10px 20px;
  }

  &.sticky {
    background-color: rgba(255, 255, 255, 0.7);
    background: linear-gradient(-45deg, #111, #999);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;

    .mobile-toggle span {
      background: #333;
    }
  }

  nav {
    display: inline-block;
    text-align: right;
    a {
      display: inline-block;
      margin: 0px 20px;
      padding: 1px 3px;
    }
  }
}

@media only screen and (max-width: 766px) {
}

.open-nav {
  min-height: 100%;
  transition: all 200ms ease-in;
  background: white !important;
  .logo {
    color: #333;
  }
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  span {
    background: #333;
  }
}

@media only screen and (max-width: 766px) {
  header.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 500ms ease-in;

    nav {
      width: 100%;
      text-align: center;
      a {
        width: 100%;
        padding: 10px 20px;
        margin: 10px;
        color: #333;
        text-transform: uppercase;
        display: block;
      }
    }
  }
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 22px;
  width: 30px;
  transition: all 500ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: white;
  display: block;
}


@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.single-centered {
  .main-nav {
    background-color: rgba(255, 255, 255, 0.7);
    background: linear-gradient(-45deg, #111, #999);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
  }
}
