<a class="blog-item">
  <a href="{{ .Permalink }}">{{ .Title }}</a>
  <div class="meta">{{ .Date.Format "2/Jan/2006" }}</div>
  {{ with .Params.tags }}
    <ul id="tags">
      {{ range . }}
        <li><a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  {{ end }}
</a>
