<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    <!-- <link rel="canonical" href="{{ .Permalink }}"> -->
    <meta property="og:title" content="locomotiva" />
    <meta property="og:description" content="Creating awesome software solutions for your business." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://locomotiva.co/" />
    <!-- <link rel="canonical" href="https://locomotiva.co/"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2e2e2e">
    <meta name="theme-color" content="#2e2e2e">

    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-19971072-16', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <link href="{{ .Site.BaseURL }}css/main.css" rel="stylesheet" crossorigin="anonymous">
    <!-- <script src="{{ .Site.BaseURL }}js/nav.js" crossorigin="anonymous" async></script> -->

    {{ partial "header.html" . }}
  </head>

  <body class="single-centered">
    {{ partial "navigation.html" . }}

    <section class="default-container section">
      <div class="container">
        <main id="main">
          <div>
            <h1 id="title"><strong>LOCO</strong>blog</h1>
            {{ range .Data.Pages }}
              {{ .Render "li" }}
            {{ end }}
          </div>
        </main>
      </div>
    </section>

    <footer class="footer-main section">
      <div class="container">
        <h2>Vamos falar do seu projeto</h2>

        <p>
          Estamos sempre à procura de ideias, projetos e desafios novos e interessantes de todo o mundo.<br>
          Vamos falar dos projetos que te movem.
        </p>

        <p>Juntos, podemos criar grandes empresas, produtos e<br>serviços que deixam o mundo ainda melhor!</p>

        <a href="mailto:jp@locomotiva.co?subject=Fale+Conosco+Locomotiva" class="btn btn-lg btn-secondary">Fale com a gente</a>
      </div>
    </footer>


  </body>
</html>
